:root {
  --yellow-color: #fef08a;
  --green-color: #bbf7d0;
  --pink-color: #fbcfe8;
  --cyan-color: #36d7b7;
}

/* utils */
.pointer {
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
